<a href="https://colab.research.google.com/github/priya3028/Workshop-on-Python-Programming-in-Data-Analytics-and-Machine-Learning/blob/master/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
a.sort()
print("Largest element is:",a[n-1])

Enter number of elements:5
Enter element:3
Enter element:8
Enter element:9
Enter element:45
Enter element:89
Largest element is: 89

In [0]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
a.append(b)
even=[]
odd=[]
for j in a:
  if(j%2==0):
     even.append(j)
  else:
     odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements:4
Enter element:25
Enter element:36
Enter element:45
Enter element:28
The even list [28]
The odd list []

In [0]:
 b=int(input("Enter element:"))

Enter element:4

In [0]:
dict = {'Name': 'Zara', 'Age': 7};
print("Start Len : %d" %  len(dict))
dict.clear()
print("End Len : %d" %  len(dict))

Start Len : 2
End Len : 0

In [0]:
d={'A':100,'B':540,'C':239}
print("Total sum of values in the dictionary:")
print(sum(d.values()))

Total sum of values in the dictionary:
879

In [0]:
d = {'a':1,'b':2,'c':3,'d':4}
print("Initial dictionary")
print(d)
key=input("Enter the key to delete(a-d):")
if key in d: 
  del d[key]
else:
  print("Key not found!")
exit(0)
print("Updated dictionary")
print(d)

Initial dictionary
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
Enter the key to delete(a-d):3
Key not found!
Updated dictionary
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [0]:
n=int(input("Enter no of records"))
d={}
for i in range(1,n+1):
 name= input("Enter name %d"%(i))
mark=int(input("Enter mark %d"%(i)))
d[name]=mark
print (d)

Enter no of records6
Enter name 1556
Enter name 24
Enter name 35
Enter name 45
Enter name 55
Enter name 66
Enter mark 64
{'6': 4}

In [0]:
d={}
print (" The dictionary elements are")
for i in range(1,21):
   d[i]=i**2
print (d)
# To print key and values
print (" Key==> Value are")
for (k,v) in d.items():	
  print(k,"==>",v)
# To print key only
print ("\nTo print key only")
for k in d.keys():	
  print(k, end="")
#To print value only
print ("\nTo print values only")
for v in d.values():	
  print(v, end="")

 The dictionary elements are
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}
 Key==> Value are
1 ==> 1
2 ==> 4
3 ==> 9
4 ==> 16
5 ==> 25
6 ==> 36
7 ==> 49
8 ==> 64
9 ==> 81
10 ==> 100
11 ==> 121
12 ==> 144
13 ==> 169
14 ==> 196
15 ==> 225
16 ==> 256
17 ==> 289
18 ==> 324
19 ==> 361
20 ==> 400

To print key only
1234567891011121314151617181920
To print values only
149162536496481100121144169196225256289324361400

In [0]:
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
60:'sixty',70:'seventy',80:'eighty',90:'ninty'}

num=int(input("Enter the integer between 1 to 99:"))
if (num<=20):
  print(d[num])
if(num>20 and num<100):
 if num%10==0:       
  print(d[num])
else:
  print(d[num//10*10]+""+d[num%10])

Enter the integer between 1 to 99:25

In [0]:
d = {"Pierre": 42, "Anne": 33, "Zoe": 24}
#Use the sorted function and operator module
import operator
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print(sorted_d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print(sorted_a)

[('Zoe', 24), ('Anne', 33), ('Pierre', 42)]
[('Pierre', 42), ('Anne', 33), ('Zoe', 24)]